<div class="nav-item-wrapper">
    <a class="nav-link dropdown-indicator label-1" href="#nv-{{ this.id }}"
       role="button"
       data-bs-toggle="collapse"
       aria-expanded="{{ this.isAnyItemActive ? 'true' : 'false' }}"
       aria-controls="nv-{{ this.id }}"
    >
        <div class="d-flex align-items-center">
            <div class="dropdown-indicator-icon-wrapper">
                <span class="fas fa-caret-right dropdown-indicator-icon"></span>
            </div>
            <span class="nav-link-icon"><span data-feather="{{ this.icon }}"></span></span>
            <span class="nav-link-text">{{ this.title }}</span>
        </div>
    </a>
    <div class="parent-wrapper label-1">
        <ul class="nav collapse parent {{ this.isAnyItemActive ? 'show' : '' }}"
            data-bs-parent="#{{ this.parentId }}"
            id="nv-{{ this.id }}"
        >
            {% if this.title %}
                <li class="collapsed-nav-item-title d-none">{{ this.title }}</li>
            {% endif %}

            {% for item in this.items %}
                <twig:Phoenix:NavListItem
                        label="{{ item.label }}"
                        url="{{ item.url }}"
                        description="{{ item.description|default(null) }}"
                        icon="{{ item.icon|default(null) }}"
                        :badge="item.badge|default(null)"
                        :isNew="item.isNew|default(false)"
                />
            {% endfor %}
        </ul>
    </div>
</div>
